In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df = pd.read_csv('Admission_Predict_Ver1.1.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.drop('Serial No.', inplace = True, axis = 1) #Dropping the Serial No. column

In [4]:
df.shape #Checking the shape of the dataframe

(500, 8)

In [5]:
df.isnull().sum() #Checking the Null Values

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [6]:
x = df.drop(columns = ['Chance of Admit '])
y = df['Chance of Admit '] #Target Vari

In [7]:
print(x.shape, y.shape)

(500, 7) (500,)

In [8]:
#Converting x & y into NumPy Arrays

x = np.array(x)
y = np.array(y)

In [9]:
y = y.reshape(-1,1)
y.shape

(500, 1)

In [10]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
minmax = MinMaxScaler()

x = scaler.fit_transform(x)
y = scaler.fit_transform(y)

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(400, 7) (100, 7) (400, 1) (100, 1)

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score

lr_model = LinearRegression()

lr_model.fit(x_train, y_train)

LinearRegression()

In [13]:
lr_model.score(x_train, y_train)

0.8210671369321554

In [14]:
y_pred = lr_model.predict(x_test)

In [15]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8188432567829627

In [16]:
#https://www.kaggle.com/code/ankitmarcos/university-prediction-multiple-linear-regression